<h3>Zxing Barcode Scanner</h3>
@for (allowedFormat of allowedFormats; track allowedFormat) {
  <span>{{ getName(allowedFormat) }} </span>
}
 @if(hasDevices)
 {
   <div >
     <label for="deviceSelect">Choose Camera:</label>
     <select id="deviceSelect" (change)="onDeviceSelectChange($event)">
       <option *ngFor="let device of availableDevices" [value]="device.deviceId">
         {{ device.label || 'Unknown Camera' }}
        </option>
      </select>
    </div>
  }
    
<div class="scanner-container">
  <!-- 1. The hidden scanner component used purely to initialize the camera stream -->
  <zxing-scanner #scanner 
  [videoConstraints]="videoConstraints"
  (camerasFound)="onCamerasFound($event)" style="display: none;"></zxing-scanner>
  
  <!-- 2. The canvas displaying your visible, restricted scanning window -->
  <canvas #scanCanvas width="640" height="480"></canvas>
  
  <!-- 3. CSS Overlay to visual show the targeted framing rect -->
  <div class="focus-box"></div>
</div>


 @if(scannedResult.length > 0)
 {
   <div>
     <h3>Scanned Codes:</h3>
     <ul>
       @for (code of scannedResult; track code) {
         <li>{{ code }}</li>
       }
     </ul>
   </div>
 }
