<h3>Zxing Barcode Scanner</h3>

<div>
  <label>
    <input type="radio" name="format" value="QR" [checked]="selectedFormat === 'QR'" (change)="onFormatChange('QR')" />
    QR Code
  </label>
  <label>
    <input type="radio" name="format" value="Code128" [checked]="selectedFormat === 'Code128'" (change)="onFormatChange('Code128')" />
    Code 128
  </label>
</div>
 @if(hasDevices)
 {
   <div >
     <label for="deviceSelect">Choose Camera:</label>
     <select id="deviceSelect" (change)="onDeviceSelectChange($event)">
       <option *ngFor="let device of availableDevices" [value]="device.deviceId">
         {{ device.label || 'Unknown Camera' }}
        </option>
      </select>
    </div>
  }
    
<zxing-scanner
  [formats]="allowedFormats"
  [autostart]="true"
  [device]="selectedDevice"
  [autofocusEnabled]="true" 
  [tryHarder]="true"
  [videoConstraints]="videoConstraints"
  (scanSuccess)="onCodeResult($event)"
  (camerasFound)="onDevicesFound($event)"
  (camerasNotFound)="onHasDevices(false)"
  (scanError)="onError($event)"
></zxing-scanner>

 @if(scannedResult.length > 0)
 {
   <div>
     <h3>Scanned Codes:</h3>
     <ul>
       <li *ngFor="let code of scannedResult">{{ code }}</li>
     </ul>
   </div>
 }
